.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img {
    width:100px;
    height: 100px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-items > li {
    list-style-type: none;
    margin: 10px;
}

.rescontainer {
    display: flex;
    flex-direction: row;
    gap:10px;

}